<h1>Revisão da aula passada</h1>

<h3>Built-in functions</h3>

In [ ]:
max([2,7,3,1,2,8,1,5,6])

8

<h3>Variáveis</h3>

In [ ]:
cardapio = {
    "hot dog": 5,
    "guarana": 4}

In [ ]:
cardapio["hot dog"]

5

<h3>Objetos simples e operadores</h3>

In [ ]:
# string, inteiros, flutuantes, boleanos
saldo = 3000
juros = 0.12
total = saldo * (1 + juros)
total = round(total, 2)
print(total)

3360.0

<h3>Objetos compostos e métodos</h3>

In [ ]:
# listas, dicionários
compras = ["sabao", "cafe", "manteiga"]

In [ ]:
compras.remove("cafe")

In [ ]:
print(compras)

['sabao', 'manteiga']

In [ ]:
compras.append("pão")

In [ ]:
print(compras)

['sabao', 'manteiga', 'pão']

<p><b>Exercício:</b> Os funcionários de uma empresa receberam 15% de aumento. Faça um programa em Python que pede para o usuário digitar o salário e, então, imprima o salário ajustado.</p>

In [ ]:
# pedir para o funcionário digitar salário
salario_antigo = input("Digite seu salário ")
# transformar a string em número
salario_antigo = float(salario_antigo)
# aplicar o aumento
salario_novo = salario_antigo * 1.15
# arredondar 2 casas
salario_novo = round(salario_novo, 2)
# mostrar o salário ajustado
print(salario_novo)

Digite seu salário 3000
3450.0

<h1>Aula 2 - Python</h1>

<h2>Funções</h2>

In [ ]:
def reajusta_salario(valor):
  resultado = valor * 1.15
  return resultado

In [ ]:
reajusta_salario(2000)

2300.0

In [ ]:
reajusta_salario(5000)

5750.0

In [ ]:
def calcula_imc(altura, peso):
  resultado = peso / (altura ** 2)
  resultado = round(resultado, 2)
  return resultado

In [ ]:
imc_leandro = calcula_imc(1.64, 64)

In [ ]:
print(imc_leandro)

23.8

In [ ]:
def calcular_dias(numero_anos):
    dias = numero_anos * 365
    return dias

# Exemplo de uso da função:
anos = int(input("Digite o número de anos: "))
resultado = calcular_dias(anos)
print("O número de dias é:", resultado)

Digite o número de anos: 2
O número de dias é: 730

In [ ]:
def calcular_dias(numero_anos):
    dias = numero_anos * 365
    dias += numero_anos // 4 - numero_anos // 100 + numero_anos // 400
    return dias

# Exemplo de uso da função:
anos = int(input("Digite o número de anos: "))
resultado = calcular_dias(anos)
print("O número de dias é:", resultado)

Digite o número de anos: 10
O número de dias é: 3652

<h2>Bibliotecas</h2>

In [ ]:
import random

In [ ]:
def joga_dado():
  dado = [1,2,3,4,5,6]
  resultado = random.choice(dado)
  return resultado

In [ ]:
joga_dado()

5

In [ ]:
joga_dado()

6

In [ ]:
from random import choice

In [ ]:
def joga_pedra_papel_tesoura():
  opcoes = ["pedra", "papel", "tesoura"]
  resultado = choice(opcoes)
  return resultado

In [ ]:
joga_pedra_papel_tesoura()

'papel'

In [ ]:
# calcula o fatorial de 12
import math as mt
mt.factorial(12)

479001600

<h2>Estrutura de repetição</h2>

<h3>while</h3>

In [ ]:
numero_digitado = input("Digite um Nº: ")
while numero_digitado != "13":
  print("Não é esse!")
  numero_digitado = input("Digite um Nº: ")
print("Acertou!")

Digite um Nº: 5
Não é esse!
Digite um Nº: 6
Não é esse!
Digite um Nº: 10
Não é esse!
Digite um Nº: 13
Acertou!

In [ ]:
opcoes = list(range(1, 101, 1))
numero_correto = random.choice(opcoes)
print(numero_correto)
numero_correto = str(numero_correto)
numero_digitado = input("Digite um Nº: ")
while numero_digitado != numero_correto:
  print("Não é esse!")
  numero_digitado = input("Digite um Nº: ")
print("Acertou!")

93
Digite um Nº: 92
Não é esse!
Digite um Nº: 93
Acertou!

In [ ]:
opcoes = list(range(1, 101, 1))
numero_correto = random.choice(opcoes)
print(numero_correto)
numero_digitado = int(input("Digite um Nº: "))
while numero_digitado != numero_correto:
  print("Não é esse!")
  if numero_digitado > numero_correto:
    print("Tente um menor!")
  else:
    print("Tente um maior!")
  numero_digitado = int(input("Digite um Nº: "))
print("Acertou!")

77
Digite um Nº: 8
Não é esse!
Tente um maior!
Digite um Nº: 77
Acertou!

In [ ]:
import random

numero_pensado = random.randint(1, 100)
tentativas = 0

print("Bem-vindo ao jogo de adivinhação!")
print("Tente adivinhar o número que estou pensando, que está entre 1 e 100.")

while True:
    tentativa = int(input("Digite um número: "))
    tentativas += 1

    if tentativa == numero_pensado:
        print("Parabéns! Você acertou o número em", tentativas, "tentativa(s).")
        break
    elif tentativa < numero_pensado:
        print("O número que você digitou é menor do que o número pensado. Tente novamente.")
    else:
        print("O número que você digitou é maior do que o número pensado. Tente novamente.")

Bem-vindo ao jogo de adivinhação!
Tente adivinhar o número que estou pensando, que está entre 1 e 100.
Digite um número: 50
O número que você digitou é maior do que o número pensado. Tente novamente.
Digite um número: 75
O número que você digitou é maior do que o número pensado. Tente novamente.
Digite um número: 25
O número que você digitou é maior do que o número pensado. Tente novamente.
Digite um número: 17
O número que você digitou é maior do que o número pensado. Tente novamente.
Digite um número: 8
O número que você digitou é menor do que o número pensado. Tente novamente.
Digite um número: 12
O número que você digitou é menor do que o número pensado. Tente novamente.
Digite um número: 10
O número que você digitou é menor do que o número pensado. Tente novamente.
Digite um número: 15
O número que você digitou é maior do que o número pensado. Tente novamente.
Digite um número: 14
Parabéns! Você acertou o número em 9 tentativa(s).

<h3>for</h3>

In [ ]:
print(joga_dado())
print(joga_dado())
print(joga_dado())
print(joga_dado())
print(joga_dado())

1
2
2
4
3

In [ ]:
for i in [1,2,40]:
  print(joga_dado())

4
5
1

In [ ]:
soma = 0
for i in [1,2,40]:
  soma = soma + i
print(soma)

43

<h3>Range</h3>

In [ ]:
start = 5 # inclusive
end = 16 # exceto
step = 2
list(range(start, end, step))

[5, 7, 9, 11, 13, 15]

In [ ]:
list(range(0,31,3))

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

<p><b>Exercício: </b> Faça um programa em Python que calcula a soma dos números ímpares de 201 à 957 inclusive estes dois.</p>

In [ ]:
soma = 0
for i in range(201,958,2):
  # soma = soma + i
  soma += i
print(soma)

219441

In [ ]:
print("    *")
print("   ***")
print("  *****")
print(" *******")
print("*********")

    *
   ***
  *****
 *******
*********

In [ ]:
n = 6
for i in range(1,n,2):
  estrelinhas = i * "*"
  indices = n - 1 - i
  num_espacos = indices // 2
  espacos = num_espacos * " "
  estrelinhas_com_espacos = espacos + estrelinhas
  print(estrelinhas_com_espacos)

  *
 ***
*****

<h2>Estruturas condicionais</h2>

<p><b>Exercício: </b>Faça um programa em Python que jogue um dado e, então, imprime "ganhou" se o resultado do dado for 4, 5 ou 6 e imprime "perdeu" se o resultado do dado for 1, 2 ou 3.</p>

In [ ]:
# armazenar o resultado do dado
resultado = joga_dado()
# imprimir resultado
print("Resultado ", resultado)
# se o resultado for 4,5,6 imprimir "ganhou"
if resultado in [4,5,6]:
  print("ganhou")
# senão imprimir "perdeu"
else:
  print("perdeu")

Resultado  4
ganhou

<p><b>Exercício: </b>Faça um programa em Python que jogue um dado e, então, imprime "ganhou" se o resultado do dado for 5 ou 6, imprime "empatou" se o resultado do dado for 3 ou 4 e imprime "perdeu" se o resultado do dado for 1 ou 2.</p>

In [ ]:
resultado = joga_dado()
print(resultado)
if resultado in [5,6]:
  print("ganhou")
elif resultado in [3,4]:
  print("empatou")
else:
  print("perdeu")

4
empatou

<h2>Atividade avaliativa</h2>

<p>Faça um jogo de forca!</p>

<h3>Dicas</h3>

In [ ]:
f = open("frutas.txt", "w")
f.write("banana\n")
f.write("abacate\n")
f.write("abacaxi\n")
f.write("uva\n")
f.close()

In [ ]:
f = open("frutas.txt", "r")
frutas = f.readlines()
print(frutas)

['banana\n', 'abacate\n', 'abacaxi\n', 'uva\n']

In [ ]:
palavra = random.choice(frutas).strip()
print(palavra)

uva

In [ ]:
print('_._._._')

_._._._

In [ ]:
print('_.a._._')

_.a._._